<form method="POST" action="/creatures">
    <label for="creaturesName">Name:</label>
    <input type="text" name="type" id="creaturesName" >
    

    <label for="creaturesImg">Image</label>
    <input type="text" name="img_url" id="creaturesImg" >
     
    <button type="submit">Add a Creature</button>
</form>