<form method="POST" action="/dinosaurs">
    <label for="dinosaursName">Name:</label>
    <input type="text" name="name" id="dinosaursName" >

    <label for="dinosaursType">Type:</label>
    <input type="text" name="type" id="dinosaursType" >

    <button type="submit">Add a Dino</button>
</form>